:host {
  height: 100vh;
  width: 100vw;
  align-content: stretch;
  display: grid;
  grid-template-columns: [first] 20px [leftbodymargin] auto [rightbodymargin] 20px [last];
  grid-template-rows: [top] 20px [topbodymargin] auto [bottombodymargin] 20px [bottom];
  justify-items: stretch;
}

.content {
  grid-column: 2;
  grid-row: 2;
}