.header {
  grid-area: header;
  font-size: 24px;
  font-weight: bold;
}

router-outlet {
  grid-area: content;
}

.footer {
  grid-area: footer;
  background-image: url(/assets/cneos-banner.png);
  background-size: contain;
  background-position-y: 2em;
  background-repeat: no-repeat;
  span {
    float: right;
  }
}