/* You can add global styles to this file, and also import other style files */

/* CSS Grid layouts that span components should be globally available */
/*
 * Want to learn all there is to know about CSS Grid?
 * https: //www.gridcritters.com/
 * Worth every penny.
 */
nea-root {
  padding: 1em;
  box-sizing: border-box;
  width: 100vw;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 1fr 123px;
  grid-template-areas:
    'header'
    'content'
    'footer';
}
